{% extends 'admin/base.html' %}
{% block subtitle %}Admin - New Tag{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
        <div class="col-10">
            <h2>Tags</h2>
        </div>
        <div class="col">
            <h3>New Tag</h3>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="{{ url_for('editTag', tagid=tag.id) }}">
                <b>Title : </b><br>
                <div class="row">
                    <div class="col">
                        <input class="form-control" name="title" type="text" value="{{ tag.name }}"><br>
                    </div>
                </div>
                <b>Description</b><br>
                <div class="row">
                    <div class="col">
                        <input class="form-control" name="description" type="text" value="{{ tag.description }}"><br>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}