<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        {% block head %}
        <title>{% block subtitle %}{% endblock %} - {{ siteData.name }}</title>
        {% endblock %}
    </head>
    <body>
        <h1><a href="{{ url_for('home') }}">{{ siteData.name }}</a></h1>
        <h6>{{ siteData.description }}</h6>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <footer>
            <a href="{{ url_for('home') }}">{{ siteData.name }}</a> - All right reserved.
        </footer>
    </body>
</html>