{% set siteData = db.Site.query.first() %}
{% set tags = db.Tags.query.all() %}
{% set categories = db.Categories.query.all() %}
<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        {% block head %}
        <title>{% block subtitle %}{% endblock %} - {{ siteData.name }}</title>
        {% endblock %}
    </head>
    <body>
        <h1><a href="{{ url_for('home') }}">{{ siteData.name }}</a></h1>
        <h6>{{ siteData.description }}</h6>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <div class="gadgets">
            <div id="gadget_categories" class="gadgets">
                <h3>Categories</h3>
                <ul>
                    {% for category in categories %}
                    <li><a href="{{ url_for('categoryPage', category=category.id) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div id="gadget_tags" class="gadgets">
                <h3>Tags</h3>
                <ul>
                    {% for tag in tags %}
                    <li><a href="{{ url_for('tagPage', tag=tag.id) }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <footer>
            <a href="{{ url_for('home') }}">{{ siteData.name }}</a> - All right reserved.
        </footer>
    </body>
</html>