{% extends 'base.html' %}
{% block subtitle %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('loginPage') }}">
    <div class="row">
        <div class="col">
            <b>Account : </b><input class="form-control" name="account" type="text"><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Password : </b><input class="form-control" name="password" type="password"><br>
        </div>
    </div>
    <input class="btn btn-primary" name="submit" type="submit" value="Login">
</form>
{% endblock %}