{% extends 'base.html' %}
{% block subtitle %}
{% if postData %} {{ postData.name }}
{% else %}Home
{% endif %}
{% endblock %}
{% block content %}
{% if postData %}
{% set tags = db.Posts.query.filter_by(id=postData.id).first().tags %}
<div id="postContent">
    <h2><a href="{{ url_for('postPage', postid=postData.id) }}">{{ postData.name }}</a></h2>
    {{ postData.content|safe }}
    <hr>
    <div id="tagInPost">
        Tags :
        {% for tag in tags %}
        <a href="{{ url_for('tagPage', tag=tag.id )}}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div id="categoryInPost">
        Category : 
        <a href="{{ url_for('categoryPage', category=postData.category.id) }}">{{ postData.category.name }}</a>
    </div>
    <div id="autohrInPost">
        Autohr : {{ postData.user.account }}
    </div>
</div>
{% else %}
<div id="postList" style="margin-top: 10px;">
    <h3>Home</h3>
    {% if posts %}
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <a href="{{ url_for('postPage', postid=post.id) }}">{{ post.name }}</a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No post.</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}