{% extends 'base.html' %}
{% block subtitle %}
{% if viewPost == True %} {{ postTitle }}
{% else %}Home
{% endif %}
{% endblock %}
{% block content %}
{% if postid %}
<h2><a href="{{ postData[postid-1].url }}">{{ postData[postid-1].name }}</a></h2>
{{ postData[postid-1].content|safe }}
<div id="tagInPost">
    Tags : {{ postData[postid - 1].tag }}
</div>
{% else %}
<h2>Post List</h2>
<ul>
    {% for post in postData %}
    <li><a href="{{ post.url }}">{{ post.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}