{% extends 'admin/base.html' %}
{% block subtitle %}Admin - Edit Post{% endblock %}
{% block content %}
<div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
        <div class="col-10">
            <h2>Posts</h2>
        </div>
        <div class="col">
            <h3>Edit Post</h3>
        </div>
        <hr>
    </div>
    <form method="POST" action="{{ url_for('editPost', postid=post.id) }}">
        <div class="row">
            <div class="col-9">
                <b>Title : </b><br>
                <input class="form-control" name="title" type="text" value="{{ post.name }}"><br>
                <b>Content : </b><br>
                <textarea class="form-control" name="content" cols="20", rows="15">{{ post.content }}</textarea><br>
                <b>Description</b><br>
                <input class="form-control" name="description" value="{{ post.description }}" type="text"><br>
            </div>
            <div class="col">
                <b>Cetegory :</b><br>
                <select class="form-select" name="category">
                    {% for category in categoriesList %}
                    {% if category.id == post.categories %}
                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                    {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select><br>
                <b>Tags: </b><br>
                <div class="form-check">
                    {% for tag in tagsList %}
                    {% if tag in post.tags %}
                    <input class="form-check-input" type="checkbox" id="tag_{{ tag.id }}" name="tag" value="{{ tag.id }}", checked="true">
                    <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="tag_{{ tag.id }}" name="tag" value="{{ tag.id }}">   
                    <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
                    {% endif %}
                    {% endfor %}
                </div> 
            </div>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
{% endblock %}